@media (min-width:280px){
    .create-fighting {
        // Game List
        //===========================================
        display: flex;
        flex-direction: column;
        padding: 20px 0 75px;
        &__list {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
        }
        &__game {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 20px;
            width: 100%;
            transition: .2s background ease-in-out;
        }
        &__game_checked{
            background: #1E2B39;
        }
    
        &__game-img {
            margin-right: 30px;
        }
    
        &__game-name {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
        }
        &__next-btn{
            margin-top: 40px ;
        }
    
        // Fighting Form
        //===========================================
        &__form-label{
            display: block;
            margin-top: 25px;
        }
        &__descr-input{
            resize: vertical;
            min-height: 110px;
        }
         // Fighting Form
         //===========================================
        &__crew-wrapper{
            display: none;
        }
        &__crew-wrapper.active{
            display: block;
        }
    
    
        // Fighting Format 
         //===========================================
         &__format-menu {
            width: 100%;
            margin-top: 10px;
            height: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            background: #272F37;
            border-radius: 16px;
            color: $white-color;
            overflow: hidden;
            transition: 1s height;
            &.active{
                padding: 17px 0;
                height: fit-content;
            }
        }
    
        &__format-list {
            
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    
        &__format-item {
            padding: 10px 20px;
            &:not(:last-child){
                @include borderBottom;
            }
        }
    
    
        //===========================================
        &__player-title{
            margin-top: 25px;
        }
        &__player-list {
            
        }
    
        &__player-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 14px;
            width: 100%;
            min-height: 75px;
            margin-top: 10px;
            background: #272F37;
            border-radius: 16px;
        }
        &__player-img {
            margin-right: 15px;
        }
    
        &__player-names {
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
        }
    
        &__player-firstname {
            position: relative;
            margin-right: 23px;
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                right: -11.5px;
                transform: translate(-50%, -50%);
                width: 2.5px;
                height: 2.5px;
                background: $white-color;
            }
        }
        &__player-icon{
            margin-left: auto;
        }
        &__addplayer-link{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 14px;
            width: 100%;
            min-height: 75px;
            margin-top: 10px;
            background: #272F37;
            border-radius: 16px;
            
            &:active{
                background: #343d46;
            }
        }
        &__addplayer-title{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #535C65;
        }
        &__addplayer-icon{
            margin-right: 2px;
        }
    
    
    
    }
}

