@media (min-width:280px) {
    .page__container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .page__main{
        padding: 64px 0 120px 0;
    }
    .page__input{
        display: block;
        width: 100%;
        min-height: 52px;
        margin-top: 10px;
        padding: 17px 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        background: #272F37;
        border: transparent;
        border-radius: 16px;
        color: $white-color;
        text-align: left;
        transition: .3s background;
        &:focus{
            outline: none;
            background: #384049;
        }
        &::placeholder{
            font-family: 'SF Pro Display', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #535C65;
        }
        &:invalid{
            border: 2px solid red;
        }
    }
    .page__btn{
        display: block;
        font-size: 16px;
        color: $white-color;
        margin: 0 auto;
        padding: 12px 25px;
        background: $blue-light-color;
        border: none;
        border-radius: 16px;
        width: fit-content;
        transition: .2s all;
        &:hover{
            transform: translateY(-5px);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.664);
        }
        &:active{
            transform: translateY(0px);
            box-shadow: none;
        }
    }

    .invalid__input{
        border: 2px solid red;
    }
    
    .valid__input{
        border: 2px solid green;
    }
    
}
@media (min-width: 426px){
    .page__container{
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }
}
@media (min-width: 801px) {
    .page__container{
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }
    .page__main{
        padding: 0;
    }
    
}
@media (min-width: 1440px){
    .page__container{
        width: 1170px;
    }
}