
.player-list {
 
    &__list {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        &.active{
            display: flex;
        }
    }

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 15px 20px;
        &:active{
            background: #1b2733;
        }
    }

    &__img {
        width: 42px;
        height: 42px;
        margin-right: 10px;
    }

    &__names {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
    }

    &__name {
        position: relative;
        margin-right: 13px;
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            right: -8px;
            transform: translateY(-50%);
            width: 2.5px;
            height: 2.5px;
            background: white;
            border-radius: 50%;
        }
    }

    &__nick {
    }

}

