@media (min-width: 220px) {

    .profile {
        padding: 0 0 30px;
        &__header-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
        }

		&__img {
            width: 120px;
            height: 120px;
            border-radius: 42px;
		}

		&__statistic {
            flex-direction: column;
            font-weight: 400;
            font-size: 12px;
            line-height: 13px;
            padding-left: 20px;
		}

		&__statistic-item {
            &:not(:first-child){
                margin-top: 2px;
            }
		}
        &__statistic-fighting{
            color: white;
        }
        &__statistic-win{
            color: #6BE795;
        }
        &__statistic-win-percent{
            color: #00A3FF;
        }
        &__statistic-lost{
            color: #FB9191;
        }

		&__statistic-name {
            font-weight: 400;
		}

        &__rate-btns {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__rate-btn {
            color: white;
            margin-top: 20px;
        }

        &__rate-like {
            margin-right: 10px;
        }
        &__rate-dislike {
            color: #6A6E77;
        }

        &__contacts{
            margin-top: 30px;
        }
        &__descr {
            margin-top: 30px;
        }

        &__descr-text {
            margin-top: 10px;
        }

        &__mark {
            margin-top: 66px;
        }

        &__mark-list {
            margin-top: 17px;
        }

        &__mark-item {
            display: flex;
        }

        &__mark-name {
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #B5B5B5;
            width: 100px;
        }

        &__review {
            margin-top: 51px;
        }

        &__comment {
            padding: 20px 0;
            &:not(:last-child){
                @include borderBottom;
            }
        }

        &__comment-wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        &__comment-img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        &__comment-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #B5B5B5;
        }

        &__comment-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #5B6C7C;
            padding-top: 10px;
        }

        &__conform {
            padding-top: 40px;
        }
        &__conform-list {
            margin-top: 30px;
        }
    
        &__conform-item {
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            color: #B5B5B5;
            margin-bottom: 30px;
        }
    
        &__conform-icon {
            margin-right: 30px;
        }

        &__game-list {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            margin-top: 7px;
        }
        &__game-item {
            width: 100%;
        }

        &__game-link {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            color: white;
            text-decoration: none;
            width: 100%;
            padding: 10px 0;
        }

        &__game-img {
            margin-right: 40px;
        }

        &__game-info {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            flex-grow: 1;
            flex-basis: 100%;
        }

        &__game-name {
            padding-bottom: 6px;
            font-size: 14px;
            font-weight: 400;
        }

        &__game-statistic {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }

        &__game-statistic-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 11px;
            line-height: 13px;
        }
        &__game-statistic-fighting{
            color: white;
        }
        &__game-statistic-win{
            color: #6BE795;
        }
        &__game-statistic-lost{
            color: #FB9191;
        }
        &__game-statistic-icon {
            width: 10px;
            height: 10px;
            margin-right: 4px;
        }
    }
    

}

@media (min-width: 300px) {
    .profile {
		&__header-wrapper {
            position: relative;
            height: 146px;
            margin-top: 20px;
            width: 100%;
		}

		&__img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 40%;
            height: auto;
		}

		&__statistic {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 20px 0 0;
            flex-wrap: wrap;
            list-style: none;
            width: 100%;
		}

		&__statistic-item {
            flex: 0 0 50%;
            min-height: 60px;
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            &:nth-child(even){
                text-align: right;
            }
            &:nth-child(odd){
                text-align: left;
            }

		}

		&__comment-info {
            justify-content: flex-start;
		}

		&__comment-author {
            width: calc(100% / 3);
		}

		&__review-btn {
            margin-top: 20px;
		}
		&__game-link {
            padding: 20px 0;
		}
		&__game-name {
        font-size: 16px;
        line-height: 24px;
		}
        &__game-statistic-icon {
            width: 8px;
            height: 8px;
		}

		&__game-statistic {
            justify-content: space-between;
            padding-right: 80px;
		}

		&__game-statistic-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
		}
    }


    
}

