@media (min-width: 280px) {
    .task {
        &__desktop-img{
            display: none;
        }
        &__offers{
            margin-top: 10px;
        }

    }
}
@media (min-width: 320px) {

    .task {
        &__list {
            display: flex;
            width: 100%;
            flex-direction: column;
        }
    
        &__item {
    
            width: 100%;
            height: 100%;
            &:not(:last-child){
                @include borderBottom;
            }
    
        }
    
        &__link {
            font-size: 12px;
            line-height: 14px;
            padding: 35px 0 28px 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
    
        &__mobile-img {
            width: 42px;
            height: 42px;
            border-radius: 16px;
            margin-right: 10px;
        }

    
        &__title {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }
    
        &__date {
            margin-top: 12px;
        }
    
        &__date-time {
            margin-left: 19px;
    
        }
    
        &__bet {
            margin-top: 12px;
        }
    
        &__bet-price {
            color: $gold-color;
        }
        &__status{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            margin-top: 21px;
    
        }
        &__status-icon{
            margin-right: 11px;
        }
        &__info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            color: $grey-color;
            padding: 17px 0 0;
            font-size: 12px;
            line-height: 14px;
        }
        &__info-icons{
            margin-right: 5px
        }
        &__views {
            display: flex;
            align-items: center;
            margin-right: 30px;
        }
    
        &__views-num {
            padding-right: 3px;
        }
    
        &__offers {
            display: flex;
            align-items: flex-start;
        }
    
    
        &__offers-num {
            padding-right: 3px;
        }
    }
}

@media (min-width: 801px) {
    .task {
        padding-top: 35px;
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
        }
    
        &__item {
            width: auto;
            height: auto;
            margin-bottom: 30px;
            &:not(:last-child){
                border: none;
            }
            &:not(:nth-child(3n)){
                margin-right: 30px;
            }
    
        }
    
        &__link {
            flex-direction: column;
            align-items: center;
            width: 370px;
            min-height: 360px;
            background: #1B2732;
            border: 1px solid #354A5F;
            box-sizing: border-box;
            border-radius: 16px;
            margin: 0;
            padding: 27px;
            overflow: hidden;
            transition: .5s background, .5s box-shadow;
            &:hover{
                background: #22303f;
                box-shadow: 0px 0px 30px rgb(6, 13, 77);
            }
        }
        &__mobile-img{
            display: none;
        }
    

        &__desktop-img {
            display: block;
            margin-top: 15px;
            width: 100%;
            height: 152px;
            object-fit: cover;
            border-radius: 16px;
        }
    
        &__date {
            margin-top: 15px;
        }
    
        &__bet {
            margin-top: 10px;
        }
        &__offers {
            margin-top: 0;
        }
    

    }
}