@media (min-width: 280px) {
    .task {
        &__desktop-img{
            display: none;
        }
        &__offers{
            margin-top: 10px;
        }
        &__more-btn{
            display: none;
        }
        &__filter {
            display: none;
        }
        &__more{
            display: none;
        }
    }
}
@media (min-width: 320px) {

    .task {
        &__list {
            display: flex;
            width: 100%;
            flex-direction: column;
        }
    
        &__item {
    
            width: 100%;
            height: 100%;
            &:not(:last-child){
                @include borderBottom;
            }
    
        }
    
        &__link {
            font-size: 12px;
            line-height: 14px;
            padding: 35px 0 28px 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
        }
    
        &__mobile-img {
            width: 42px;
            height: 42px;
            border-radius: 16px;
            margin-right: 10px;
        }

    
        &__title {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }
    
        &__date {
            margin-top: 12px;
        }
    
        &__date-time {
            margin-left: 19px;
    
        }
    
        &__bet {
            margin-top: 12px;
        }
    
        &__bet-price {
            color: $gold-color;
        }
        &__status{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            margin-top: 21px;
    
        }
        &__status-icon{
            margin-right: 11px;
        }
        &__info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            color: $grey-color;
            padding: 17px 0 0;
            font-size: 12px;
            line-height: 14px;
        }
        &__info-icons{
            margin-right: 5px
        }
        &__views {
            display: flex;
            align-items: center;
            margin-right: 30px;
        }
    
        &__views-num {
            padding-right: 3px;
        }
    
        &__offers {
            display: flex;
            align-items: flex-start;
        }
    
    
        &__offers-num {
            padding-right: 3px;
        }
    }
}
@media (min-width: 500px){
    .task {
        padding: 30px 0 100px;
        &__list {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            flex-direction: row;
            grid-gap: 20px;
        }
        &__item{
            width: 100%;
            &:not(:last-child){
                border-bottom: none;
            }
        }
        &__link {
            flex-direction: column;
            align-items: center;
            width: 100%;
            min-height: 330px;
            background: #1B2732;
            border: 1px solid #354A5F;
            box-sizing: border-box;
            border-radius: 16px;
            margin: 0;
            padding: 25px;
            overflow: hidden;
            transition: .5s background, .5s border;
            &:hover{
                background: #22303f;
                border: 1px solid $white-color;
            }
        }
        &__mobile-img{
            display: none;
        }
    

        &__desktop-img {
            display: block;
            margin-top: 15px;
            width: 100%;
            height: 152px;
            object-fit: cover;
            border-radius: 16px;
        }
    
        &__date {
            margin-top: 15px;
        }
    
        &__bet {
            margin-top: 10px;
        }
        &__offers {
            margin-top: 0;
        }
        &__more {
            display: block;
            margin: 0 auto;
            margin-top: 70px;
            color: $white-color;
        }
    
        &__more-text {
            display: block;
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
        }
        &__more-btn{
            margin-top: 20px;
            display: block;
            color: $white-color;
            padding: 9px 20px;
            border: 1px solid #FFFFFF;
            border-radius: 16px;
            background: transparent;
        }

    }
}

@media (min-width: 801px) {

    .task {
        padding: 30px 0 100px;
        &__list {
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 30px;
        }
    
        &__item {
            height: auto;    
        }
    
        &__link {
            width: 100%;
            height: 100%;
        }


        &__filter {
            display: block;
            width: 100%;
            background: $blue-dark-color;
            border-radius: 16px;
        }
        &__filter--fixed{
            position: fixed;
            top: 0;
            left: 0;
            border-radius: 0;
        }
        &__filter-content{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            padding: 35px 24px;
            border-radius: 16px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            flex-wrap: wrap;
            color: #FFFFFF;
        }
        &__checkboxes {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: 0px solid transparent;
            margin-right: 50px;
        }
    
        &__checkbox {
            &:checked + label::before{
                display: block;
            }
        }
    
        &__custom-checkbox {
            position: relative;
            width: 18px;
            height: 18px;
            background: #1B2732;
            border: 1px solid #354A5F;
            box-sizing: border-box;
            border-radius: 7px;
            margin-right: 10px;
            &::before{
                content: "✔";
                position: absolute;
                display: none;
                top: 50%;
                left: 50%;
                transform: translate(-45%, -45%) scale(0.8);
            }
        }
    
        &__label {
            cursor: pointer;
        }

        &__reverse-btn {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &__reverse-icon {
            display: block;
            margin-left: 10px;
        }

        &__games {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border: 0px solid transparent;
            margin-top: 10px;
        }

        &__games-btn {
            padding: 5px 10px;
            background: #272F37;
            border-radius: 31px;
            margin: 0 10px;
            &.active{
                background: $blue-light-color;
            }
        }

    }
}
@media (min-width: 1200px){
    .task {
        &__list{
            gap: 30px;
        }
        &__item {
            width: 370px;
            height: auto;    
        }
    
        &__link {
            padding: 27px;
            width: 100%;
        }
        &__games{
            margin-left: auto;
        }

    }
}
