.input{
    display: block;
    width: 100%;
    min-height: 52px;
    margin-top: 10px;
    padding: 17px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: #272F37;
    border: none;
    border-radius: 16px;
    color: white;
    text-align: left;
    transition: .3s background;
    &:focus{
        outline: none;
        background: #384049;
    }
    &::placeholder{
        font-family: 'SF Pro Display', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #535C65;
    }
    &:invalid{
        border: 2px solid red;
    }
}