@media (max-width: 426px) {
    .fighting {
        &__main{
            padding-bottom: 83px;
        }
        &__img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover
        }
        &__container{
            padding: 0 20px 38px;
        }
        &__title {
            padding: 20px 0 10px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }
        &__info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: 12px;
            line-height: 14px;
            padding-bottom: 18px;
            @include borderBottom;
        }

        &__create-date {
            color: #B5B5B5;
            margin-right: 36px;
        }

        &__category {
            color: #EB56C1;

        }
        &__descr {
            padding: 25px 0 20px;
            @include borderBottom;
        }
        &__descr-text{
            padding-bottom: 28px;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: #B5B5B5;
        }
        &__date,
        &__bet,
        &__format,
        &__status,
        &__team{
            font-size: 14px;
            line-height: 17px;
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }

        &__date-time,
        &__bet-price,
        &__format-name,
        &__status-state,
        &__team-name{
            font-size: 16px;
            line-height: 19px;
        }
        &__bet-price{
            color: $gold-color;
        }
        &__status-state--canceled{
            color: #FB9191; 
        }
        &__status-state--complited{
            color: #6BE795;
        }
        &__status-state--waitting{
            color: #FF7A00;
        }
        &__info{
            padding: 17px 0 25px;
        }
        &__respond-btn{
            margin: 30px auto 0;
        }
        &__customer{
            padding-top: 35px;
        }
        &__team-name{
            color: #0761DC;
        }


        
        &__desk {
            padding-top: 40px;
        }
    
        &__desk-wrapper {
            position: relative;
            margin-top: 18px;
            min-height: 133px;
        }
    
        &__desk-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px;
            width: calc(50% - 22px);
            height: 42px;
            font-size: 11px;
            color: white;
            line-height: 14px;
            background: #272F37;
            border-radius: 2px;
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                right: -21px;
                display: block;
                width: 21px;
                height: 1px;
                background-color: #272F37;
                transform: translateY(-50%);

            }
        }
    
        &__desk-item1 {
            position: absolute;
            top: 0;
            left: 0;
        }
    
        &__desk-item--winner {
            background: #5EA2FF;
        }
    
        &__desk-score {
        }
    
        &__desk-item2 {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    
        &__desk-winner {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            &::before{
                top: 50%;
                left: -21px;
                width: 21px;
                height: 1px;
                transform: translateY(-50%);
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: calc(0% - 22px);
                display: block;
                width: 1px;
                height: 220%;
                background-color: $black;
                transform: translate(-50%, -50%);
            }
        }
        &__desk-winner-icon{
            position: absolute;
            top: -9px;
            left: 50%;
            transform: translate(-50%, -100%);
        }
        &__details-tab,
        &__offer-tab{
            font-size: 16px;
            line-height: 24px;
            font-weight: normal;
        }
        &__details{
            padding-bottom: 133px;
        }
        &__cancel-btn{
            width: 100vw;
            padding: 15px 20px;
            margin-top: 30px;
            margin-left:-20px;
            color: white;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            border: none;
            background: #1E2B39;
            &:active{
                color: $black;
                background: white;
            }
        }
        &__offers{
            padding-top: 10px;
            padding-bottom: 149px;
        }

		&__offers-title {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            padding: 15px 0;


		}
		&__offers-list {
            @include flexCenter;
            flex-direction: column;
            width: 100%;
		}

		&__offers-item {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            padding-bottom: 30px;
            @include borderTop;
		}

		&__offers-executor {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            padding-top: 20px;
		}
        &__offers-executor-info{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

		&__offers-img {
            width: 42px;
            height: 42px;
            margin-right: 10px;
		}

		&__offers-executor-names {
            display: flex;
            width: 100%;
		}

		&__offers-executor-firstname {
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            margin-right: 20px;
		}

		&__offers-executor-lastname {
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
		}

		&__offers-executor-rate {
            margin-top: 10px;
            display: flex;
            width: 100%;
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
		}

		&__offers-executor-likes {
            margin-right: 17px;
		}

		&__offers-executor-dislikes {
            color: #6A6E77;
		}

		&__offers-executor-fighting {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: fit-content;
            padding-right: 50px;
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;
		}

		&__offers-executor-fighting-num {
            margin-top: 11px;
		}

		&__offers-comment {
            margin-top: 15px;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: #B5B5B5;
		}

		&__offers-comment-list {
            list-style-type: disc;
            padding: 20px 0 20px 40px;
		}

		&__offers-comment-item {
		}

		&__offers-comment-link {
		}

		&__offers-contacts {
            margin-top: 30px;
		}

		&__offers-datetime {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #B5B5B5;
            margin-top: 15px;
		}

		&__offers-btn {
            margin-top: 15px;
		}
    }
    .fighting {

		&__choose {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
		}

		&__choose-title {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            padding: 30px 0;
		}

		&__choose-executor {
            color: blue;
            text-decoration: none;
		}

		&__choose-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            @include borderBottom;
		}

		&__choose-price-num {
            font-weight: 600;
            color: #FFB156;
		}

		&__choose-subtitle {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            margin-top: 30px;

		}

		&__choose-list {
            padding-left: 30px;
            padding-top: 25px;
            list-style: none;
		}

		&__choose-item {
            position: relative;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            &:not(:last-child){
                padding-bottom: 15px;
            }
            &:before{
                content: '';
                display: block;
                position: absolute;
                left: -30px;
                top: -2px;
                width: 5px;
                height: 11px;
                border-width: 0 2px 2px 0;
                border-style: solid;
                border-color: white;
                transform-origin: bottom left;
                transform: rotate(45deg);
            }
		}

		&__choose-agreement {
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            padding: 0 18px;
            letter-spacing: 0.01em;
            color: #B5B5B5;
            padding-top: 131px;
		}

		&__choose-agreement-payment,
        &__choose-service-rules {
            color: blue;
            text-decoration: none;
		}
		&__choose-btn {
            justify-self: flex-end;
            align-self: flex-end;
            margin: 22px auto;
		}
        &__public-btn{
            margin-top: 82px;
        }
    }



}
.similer-task {
    padding: 40px 0 0 ;
    &__heading {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }
}

.fighting {
    &__members {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px
    }
    &__members-icon{
        transition: .2s all;
        &.opened{
            transform: rotate(180deg);
        }
    }

    &__members-list {
        display: block;
        list-style: none;
        overflow: hidden;
        height: 0;
        &.opened{
            height: fit-content;
        }
    }


    &__members-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: 42px;
        margin-top: 10px;
        &:first-child{
            margin-top: 20px;
        }
    }
    &__members-link{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: 42px;
        margin-top: 10px;
        color: white;
        text-decoration: none;

    }

    &__members-img {
        margin-right: 15px;
    }

    &__members-names {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
    }

    &__members-firstname {
        position: relative;
        margin-right: 23px;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            right: -11.5px;
            transform: translate(-50%, -50%);
            width: 2.5px;
            height: 2.5px;
            border-radius: 50%;
            background: white;
        }
    }

    &__members-lastname {
    }

    &__members-capicon {
        margin-left: auto;
    }
}
