
.my-fighting {
    &__wrapper {

    }

    &__executor {

    }
    &__customer {

    }
    &__background {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    &__background-text {
        margin-top: 50px;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #414950;
    }
}


