
@import "base/fonts";
@import "base/variables";
@import "base/mixins";
@import "base/utilities";
@import "blocks/header";
@import "blocks/task";
@import "blocks/nav";
@import "blocks/side-menu";
@import "blocks/fighting";
@import "blocks/customer";
@import "blocks/profile";
@import "blocks/review";
@import "blocks/all-games";
@import "blocks/game";
@import "blocks/game-task";
@import "blocks/game2";
@import "blocks/game2";
@import "blocks/myfighting-all";
@import "blocks/tabs";
@import "blocks/create-fighting";
@import "blocks/balanceup";
@import "blocks/popup";
@import "base/anime-css";
@import "blocks/balance";
@import "blocks/search-player";
@import "blocks/player-list";
@import "blocks/notification";
@import "blocks/background-info";





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'SF Pro Display', sans-serif;
    background-color: $black-color;
    color: white;
    overflow-x: hidden;

}
.noscroll{
    overflow-y: hidden;
}
picture{
    font-size: 0;
}

.invalid__input{
    border: 2px solid red;
}

.valid__input{
    border: 2px solid green;
}