::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}

::-webkit-scrollbar-track {
    background-color:transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 4px;
    background-color:#093969;
}

::-webkit-scrollbar-thumb:hover{
    background: $blue-light-color;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:transparent;
}