.blue-button{
    display: block;
    font-size: 16px;
    color: $white-color;
    margin: 0 auto 40px;
    padding: 12px 25px;
    background: $blue-light-color;
    border: none;
    border-radius: 16px;
    &:active{
        background: $gold-color;
    }
}

.btn__blue{
    display: block;
    font-size: 16px;
    color: $white-color;
    margin: 0 auto;
    padding: 12px 25px;
    background: $blue-light-color;
    border: none;
    border-radius: 16px;
    width: fit-content;
    
}
.descr__text{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5B5;
}

.block__title{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.border__bottom{
    @include borderBottom;
}



.noscroll{
    overflow-y: hidden;
    margin-right: 8px;
}